<h1>在庫一覧</h1>
<%= link_to("新規登録", "/products/new", class:"btn btn-primary") %>

<% @products.each do |product| %>
  <%= product.name%>
  <%= link_to("編集", "/products/#{product.id}/edit", class:"btn btn-primary" )%>
  <%= link_to("削除","/products/#{product.id}",{method: "DELETE", class:"btn btn-danger"}) %>
<% end %>

